/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 71px;
  padding: 10px 20px;
}

.navbar .logo img {
  height: 40px; /* Adjust as per your logo */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

/* banner style */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  height: 461px;
}

.banner-text {
  max-width: 600px;
}

.ALWAYS {
  color: black;
}
.banner-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f85f00;
}

.banner-text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  width: 65%;
}

.banner-image img {
  width: 570px;
  height: 355px;
  border-radius: 10px;
}
